// ==============================
// Override Variables
// 覆盖变量
// ==============================
.single-title{
    font-family:'jiangxizhuokai';
    font-weight:'Regular'
}

p, #TableOfContents, .content >{
    font-family:'LXGW WenKai';
    font-weight:'Bold'
}

.content {
    >h2, >h3, >h4, >h5, >h6{
        font-family:'MaokenZhuyuanTi';
        font-weight:'Regular'
    }
}